<a class="absolute z-10 font-semibold top-3/4 left-2/4 -translate-x-2/4 text-white bg-red-600 rounded-2xl md:bg-white md:bg-opacity-30 md:hover:bg-red-600 text-sm px-6 py-3" href="https://www.tickettailor.com/events/bachatours2023/" target="_blank">
    BUY TICKETS
</a>