@font-face {
    font-family: 'Lulo Clean';
    src: url(../../public/fonts/Lulo\ Clean\ One.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lulo Clean';
    src: url(../../public/fonts/Lulo\ Clean\ One\ Bold.otf);
    font-weight: bold;
    font-style: bold;
}