<section class=" grid grid-cols-3 max-w-full">
    <video muted autoplay loop class="min-h-full object-cover">
        <source src="../../../public/assets/about-video.mp4">
    </video>
    <div class="bg-white mx-auto px-20 py-8 text-slate-500">
        <img src="../../../public/assets/corazon.png" alt="corazon" class="mx-auto">
        <h2 class="text-black text-center font-extrabold text-4xl">ABOUT<br/>US</h2>
        <p class=" text-xs mb-4">
            A group of dancer got together to unify a dance community that seemed to be broken in Baltimore. We started in February of 2019, by creating a WhatsApp group which immediately took the dancing community attention, more than a 100 people joined in a month.
        </p>
        <p class=" text-xs mb-4">
            Our Facebook page has more than 1000 active followers, our Instagram page around 2000 followers, and our WhatsApp groups little over 700 people
        </p>
        <p class=" text-xs mb-4">
            Our mission is to provide the rapid growing DMV dancing community with venues, where they can express themselves, learn to dance, feel safe, and be who they are. We promote harmony and friendship, with the idea of forming a big family able to express and get better with the help of each other.
        </p>
        <p class=" text-xs mb-4">
            Our new project encompasses all of this with the idea of providing access to bachata workshops and socials by renowned national and international artists right here in the DMV.
        </p>
        <p class=" text-xs mb-4">
            Join us in this mission, and dance like there is no tomorrow
        </p>
    </div>
    <video muted autoplay loop class="min-h-full object-cover">
        <source src="../../../public/assets/about-video.mp4">
    </video>
</section>