---
import Navigation from './Navigation.astro';
---
<header class="relative min-h-screen">
  <nav class=" container mx-auto flex flex-wrap items-center justify-between w-full py-4 md:py-0 px-4 text-white text-xs relative z-10 h-20">
    <Navigation/>
  </nav>
  <video muted autoplay loop class="absolute top-0 left-0 w-full h-full object-cover">
    <source src="../../../public/assets/hero-video.mp4">
  </video>
</header>