---
---
    <img src="./assets/BACHATOURS.png" alt="Logo bachatours">
    <div>
        <a class="font-bold px-2 cursor-pointer  hover:text-red-600">HOME</a>
        <a class="font-bold px-2 cursor-pointer  hover:text-red-600">MEET THE CREW</a>
        <a class="font-bold px-2 cursor-pointer  hover:text-red-600">BACHATOURS 2023</a>
        <a class="font-bold px-2 cursor-pointer  hover:text-red-600">UPCOMING EVENTS</a>
        <a class="font-bold px-2 cursor-pointer  hover:text-red-600">GALLERY</a>
        <a class="font-bold px-2 cursor-pointer  hover:text-red-600">CONTACT</a>
    </div>

    <div class="flex">
        <a class="px-2 cursor-pointer hover:scale-125" href="https://www.facebook.com/Baltchata.Crew" target="_blank">
            <img src="../../../public/assets/facebook.png">
        </a>
        <a class="px-2 cursor-pointer hover:scale-125" href="https://www.instagram.com/baltchata.crew/" target="_blank">
            <img src="../../../public/assets/instagram.png">
        </a>
        <a class="px-2 cursor-pointer hover:scale-125" href="https://www.youtube.com/channel/UC3fTwjOKcxcY1NK7X0y24bQ" target="_blank">
            <img src="../../../public/assets/youtube.png">
        </a>
        <a class="px-2 cursor-pointer hover:scale-125" href="https://chat.whatsapp.com/DxZwsEIEwnBGgoqQPWyNc9" target="_blank">
            <img src="../../../public/assets/whatsapp.png">
        </a>
    </div>
